appdirs==1.4.4
asn1crypto==0.24.0
beautifulsoup4==4.6.0
chardet==3.0.4
configparser==4.0.2
contextlib2==0.6.0.post1
coverage==5.3
cryptography==2.1.4
defer==1.0.6
distlib==0.3.1
Django==1.11.29
djangorestframework==3.9.4
duplicity==0.7.17
enum34==1.1.10
fasteners==0.12.0
filelock==3.0.12
flake8==3.8.4
functools32==3.2.3.post2
html5lib==0.999999999
idna==2.6
importlib-metadata==2.0.0
importlib-resources==3.0.0
ipaddress==1.0.17
keyring==10.6.0
keyrings.alt==3.0
lockfile==0.12.2
lxml==4.2.1
mccabe==0.6.1
monotonic==1.0
mysqlclient==1.4.6
numpy==1.13.3
packaging==20.4
pathlib2==2.3.5
Pillow==6.2.2
pluggy==0.13.1
py==1.9.0
pycodestyle==2.6.0
pycrypto==2.6.1
pyflakes==2.2.0
pygobject==3.26.1
pyparsing==2.4.7
python-apt==1.6.5+ubuntu0.2
python-debian==0.1.32
pytz==2020.1
pyxdg==0.25
scandir==1.10.0
SecretStorage==2.3.1
singledispatch==3.4.0.3
six==1.15.0
toml==0.10.1
tox==3.20.0
typing==3.7.4.3
ubuntu-cleaner==1.0.4
vboxapi==1.0
virtualenv==20.0.33
webencodings==0.5
wxPython==3.0.2.0
wxPython-common==3.0.2.0
zipp==1.2.0
