<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>

	{% load static %}     
<title>Resale_v2 a Classified ads Category Flat Bootstrap Responsive Website Template | Post Ad :: w3layouts</title>
<link rel="stylesheet" href=" {% static 'css/bootstrap.min.css' %} "><!-- bootstrap-CSS -->
<link rel="stylesheet" href=" {% static 'css/bootstrap-select.css' %} "><!-- bootstrap-select-CSS -->
<link href=" {% static 'css/style.css' %} " rel="stylesheet" type="text/css" media="all" /><!-- style.css -->
<link rel="stylesheet" href=" {% static 'css/font-awesome.min.css' %} " /><!-- fontawesome-CSS -->
<link rel="stylesheet" href=" {% static 'css/menu_sideslide.css' %} " type="text/css" media="all"><!-- Navigation-CSS -->
<!-- meta tags -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Resale Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //meta tags -->
<!--fonts-->
<link href=' {% static '//fonts.googleapis.com/css?family=Ubuntu+Condensed' %} ' rel='stylesheet' type='text/css'>
<link href=' {% static '//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' %} ' rel='stylesheet' type='text/css'>
<!--//fonts-->	
<!-- js -->
<script type="text/javascript" src=" {% static 'js/jquery.min.js' %} "></script>
<!-- js -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src=" {% static 'js/bootstrap.js' %} "></script>
<script src=" {% static 'js/bootstrap-select.js' %} "></script>
<script>
  $(document).ready(function () {
    var mySelect = $('#first-disabled2');

    $('#special').on('click', function () {
      mySelect.find('option:selected').prop('disabled', true);
      mySelect.selectpicker('refresh');
    });

    $('#special2').on('click', function () {
      mySelect.find('option:disabled').prop('disabled', false);
      mySelect.selectpicker('refresh');
    });

    $('#basic2').selectpicker({
      liveSearch: true,
      maxOptions: 1
    });
  });
</script>
	<!-- breadcrumbs -->
	<div class="w3layouts-breadcrumbs text-center">
		<div class="container">
			<span class="agile-breadcrumbs"><a href=" {% static 'index.html' %} "><i class="fa fa-home home_1"></i></a> / <span>Post your Ad</span></span>
		</div>
	</div>
	<!-- //breadcrumbs -->
	<!-- Submit Ad -->
	<div class="submit-ad main-grid-border">
		<div class="container">
			<h2 class="w3-head">Post an Ad</h2>
			<div class="post-ad-form">

			<form action="/health_data/" method="POST" enctype="multipart/form-data">
				{% csrf_token %}  

					<label>Select Category <span>*</span></label>
					<select class="" name="group">
					  <option>Select Category</option>
					  <option>Child</option>
					  <option>Young</option>
					  <option>Adult</option>
					 
					</select>
					<div class="clearfix"></div>
					<label>Age<span>*</span></label>
					<input type="text" name="Age" class="phone" placeholder="">

					<div class="clearfix"></div>
					<label>Weight<span>*</span></label>
					<input type="text" name="Weight" class="phone" placeholder="">

					<div class="clearfix"></div>
					<label>Ad Description <span>*</span></label>
					<textarea class="mess" name="des" placeholder="Write few lines about your product"></textarea>
					<div class="clearfix"></div>
				<div class="upload-ad-photos">
				<label>Photos for your ad :</label>	
					<div class="photos-upload-view">
						<div>
							<input type="file" id="fileselect" name="postfile" multiple="multiple" />
							<div id="filedrag">or drop files here</div>
						</div>

						<div id="submitbutton">
							<button type="submit">Upload Files</button>
						</div>
	<div class="clearfix"></div>
						<p class="post-terms">By clicking <strong>post Button</strong> you accept our <a href=" {% static 'terms.html' %} " target="_blank">Terms of Use </a> and <a href="privacy.html" target="_blank">Privacy Policy</a></p>
					<input type="submit" value="Post">					
					<div class="clearfix"></div>
						</form>

		
						</div>
					<div class="clearfix"></div>
						<script src=" {% static 'js/filedrag.js' %} "></script>
				</div>
				
			</div>
		</div>	
	</div>
	<!-- // Submit Ad -->
	
</body>
		<!-- Navigation-JavaScript -->
			<script src=" {% static 'js/classie.js' %} "></script>
			<script src=" {% static 'js/main.js' %} "></script>
		<!-- //Navigation-JavaScript -->
		<!-- here stars scrolling icon -->
			<script type="text/javascript">
				$(document).ready(function() {
					/*
						var defaults = {
						containerID: 'toTop', // fading element id
						containerHoverID: 'toTopHover', // fading element hover id
						scrollSpeed: 1200,
						easingType: 'linear' 
						};
					*/
										
					$().UItoTop({ easingType: 'easeOutQuart' });
										
					});
			</script>
			<!-- start-smoth-scrolling -->
			<script type="text/javascript" src=" {% static 'js/move-top.js' %} "></script>
			<script type="text/javascript" src=" {% static 'js/easing.js' %} "></script>
			<script type="text/javascript">
				jQuery(document).ready(function($) {
					$(".scroll").click(function(event){		
						event.preventDefault();
						$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
					});
				});
			</script>
			<!-- start-smoth-scrolling -->
		<!-- //here ends scrolling icon -->
</html>